@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* primary Work  */
.btn_primary{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: .90rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border: none;
    padding: 12px 15px;
}
.hadding_primary{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
}
.hadding_secendary{
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 1.50rem;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}
.paragraph_primary{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: .90rem;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 15px 0px;
}
.text_align{
    text-align: center;
}

main > section{
    margin: 50px 0px;
}

/* header */
header{
    width: 85%;
    margin: 0 auto;
}
.navber{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;

}
.navber_nav{
    display: flex;
    gap: 25px;
}
.nav_item{
    list-style: none;

}
.nav_item a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: .85rem;
    font-weight: 600;
}
/* banner section design  */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 30px 0px;

}

.banner_hadding{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}
.banner_image{
    width: 50%;
    background-image: url(./images/Circle\ design.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner_image img{
    width: 100%;
}

/* main */
.main{
    width: 85%;
    margin: 40px auto;
    /* position: relative; */

}


/* live_chat */
.live_chat a{
    background-color: #27ae60;
    font-size: 2rem;
    position: fixed;
    top: 70%;
    right: 0;
    padding: 5px 20px;
    border-radius: 25px 0px 0px 25px;
    color: #fff;

}

.sponsor_container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    align-items: center;
    margin: 70px 0px;
    padding: 30px;
}
.sponsor_content{
    margin: 0 auto;
}
.sponsor_content img{
    width: 100%;
}

/* Collection_container */
.Collection_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   justify-content: center;
   margin: 40px 0px;

    
}
.collection_card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;

}
/* .collection_card img{
    width: 100%;
} */






/* mobile responsive */
@media all and (max-width: 576px) {

    /* live chat  */
    .live_chat a{
        padding: 5px 10px;
        font-size: 1rem;
        border-radius: 20px 0px 0px 20px;
    }

    .navber{
        flex-direction: column;
        justify-items: center;
        gap: 15px;
        top: 90%;
    }
    .navber_nav{
        gap: 15px;
    }
    /* .banner */
    .banner{
        flex-direction: column;
        gap: 20px;
    }
    .banner_image{
        width: 100%;
    }
    /* sponsor  */
    .sponsor_container{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
    }
    /* card section  */
    .Collection_container{
        grid-template-columns: repeat(1, 1fr);
    }
    

}
/* tablet responsive */
@media all and (min-width: 576px) and (max-width: 768px) {
    .navber{
        flex-direction: column;
        justify-items: center;
        gap: 20px;
    }
    /* .banner */
    .banner{
        flex-direction: column;
        gap: 20px;
    }
    .banner_image{
        width: 100%;
    }
    .Collection_container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    
}